# byte-compiled, optimized, etc.
__pycache__/
*.py[cod]

# building, packaging, etc.
/*.egg-info/
/build/
/dist/

# documentation
/doc/_build/

# platform-specific
.DS_Store

# testing
/_build/
/htmlcov*/
/output/
/sandbox-*/
/.coverage*
.tox*
validation_test_overrides.py
!.coveragerc

# misc
.idea/
trace.log
