# byte-compiled, optimized, etc.
__pycache__/
*.py[cod]

# building, packaging, etc.
*.egg-info/
build/
dist/

# PyDev files
/.pydevproject
/.project
/.settings/

# documentation
doc/_build/

# platform-specific
.DS_Store

# testing
.tox/
.test_publish_key
