include .flake8
include .pylintrc
include README.rst
include LICENSE
include CHANGES.rst

recursive-include sphinxcontrib/confluencebuilder/locale *.pot *.po *.mo
recursive-include sphinxcontrib/confluencebuilder/storage/templates *
