name: build

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
            - { os:  ubuntu-latest, python: 2.7, toxenv: py27-sphinx18, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.6, toxenv: py36-sphinx18, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.6, toxenv: py36-sphinx24, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.6, toxenv: py36-sphinx30, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.6, toxenv: py36-sphinx31, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.6, toxenv: py36-sphinx32, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.6, toxenv: py36-sphinx33, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.7, toxenv: py37-sphinx18, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.7, toxenv: py37-sphinx24, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.7, toxenv: py37-sphinx30, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.7, toxenv: py37-sphinx31, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.7, toxenv: py37-sphinx32, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.7, toxenv: py37-sphinx33, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.8, toxenv: py38-sphinx18, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.8, toxenv: py38-sphinx24, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.8, toxenv: py38-sphinx30, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.8, toxenv: py38-sphinx31, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.8, toxenv: py38-sphinx32, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.8, toxenv: py38-sphinx33, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.9, toxenv: py39-sphinx18, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.9, toxenv: py39-sphinx24, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.9, toxenv: py39-sphinx30, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.9, toxenv: py39-sphinx31, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.9, toxenv: py39-sphinx32, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.9, toxenv: py39-sphinx33, cache: ~/.cache/pip }
            - { os:   macos-latest, python: 2.7, toxenv: py27-sphinx18, cache: ~/Library/Caches/pip }
            - { os:   macos-latest, python: 3.9, toxenv: py39-sphinx33, cache: ~/Library/Caches/pip }
            - { os: windows-latest, python: 2.7, toxenv: py27-sphinx18, cache: ~\AppData\Local\pip\Cache }
            - { os: windows-latest, python: 3.9, toxenv: py39-sphinx33, cache: ~\AppData\Local\pip\Cache }
            - { os:  ubuntu-latest, python: 3.9, toxenv:        flake8, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: 3.9, toxenv:        pylint, cache: ~/.cache/pip }

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Cache pip
      uses: actions/cache@v2
      id: cache-pip
      with:
        path: ${{ matrix.cache }}
        key: ${{ matrix.os }}-${{ matrix.python }}-pip-

    - name: Install dependencies
      run: python -m pip install --upgrade tox

    - name: tox
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox 
